openapi: 3.2.0
info:
  title: Spaceflight News Info API
  version: 4.30.2
  x-api-version: v4
  x-generated-from: documentation
  x-last-validated: '2026-05-30'
  x-source-url: https://api.spaceflightnewsapi.net/v4/schema/
  description: The Spaceflight News API (SNAPI) is a product by The Space Devs (TSD).
  contact:
    name: The Space Devs
    email: derk@spaceflightnewsapi.net
    url: https://spaceflightnewsapi.net
  license:
    name: AGPL-3.0
    url: https://github.com/TheSpaceDevs/spaceflightnewsapi/blob/main/LICENSE
servers:
- url: https://api.spaceflightnewsapi.net/v4
  description: Spaceflight News API production server (v4)
tags:
- name: Info
  description: API metadata, version, and the list of currently imported news sites.
paths:
  /info/:
    get:
      operationId: retrieveInfo
      summary: Spaceflight News Retrieve Info
      description: Retrieve API metadata including the current API version and the full list of news sites currently imported by SNAPI. Useful for building news-site picker UIs.
      tags:
      - Info
      security:
      - {}
      responses:
        '200':
          description: API version and the list of imported news sites.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Info'
              examples:
                RetrieveInfo200Example:
                  summary: Default retrieveInfo 200 response
                  x-microcks-default: true
                  value:
                    version: 4.30.2
                    news_sites:
                    - ABC News
                    - AmericaSpace
                    - Arstechnica
                    - Blue Origin
                    - Boeing
                    - CNBC
                    - CNES
                    - ElonX
                    - ESA
                    - Euronews
                    - European Spaceflight
                    - Horizon
                    - Jet Propulsion Laboratory
                    - NASA
                    - NASASpaceflight
                    - National Geographic
                    - National Space Society
                    - Phys
                    - Planetary Society
                    - Reuters
                    - Space.com
                    - SpaceDaily
                    - SpaceFlight Insider
                    - Spaceflight Now
                    - SpaceNews
                    - SpacePolicyOnline.com
                    - Space Scout
                    - SpaceX
                    - SyFy
                    - TechCrunch
                    - Teslarati
                    - The Drive
                    - The Japan Times
                    - The Launch Pad
                    - The National
                    - The New York Times
                    - The Space Devs
                    - The Space Review
                    - The Verge
                    - The Wall Street Journal
                    - United Launch Alliance
                    - Virgin Galactic
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    Info:
      type: object
      description: API metadata describing the running SNAPI version and the news sites currently aggregated.
      properties:
        version:
          type: string
          description: Current SNAPI version string.
          example: 4.30.2
        news_sites:
          type: array
          description: List of news site names currently imported by SNAPI.
          items:
            type: string
          example:
          - NASA
          - SpaceX
          - ESA
          - Spaceflight Now
      required:
      - news_sites
      - version
